/* TEMPLATE BODY CSS */
.body-style {
  margin: 2rem 2rem;
  background-color: #fcfcfc;
}

.template-cv-box {
  display: flex;
}

/* ============================================================================================== */
/* LAYOUT */
.box-section {
  display: grid;
}

.section-title {
  font-weight: 600;
  font-size: 1.35rem;
  margin-top: 0.5rem;
  letter-spacing: 5px;
  margin-left: 0.5rem;
  margin-bottom: 1.8rem;
  font-family: "Poppins", sans-serif;
}

.information-text {
  display: flex;
  margin-bottom: 10px;
}

/* ============================================================================================== */
/* LEFT BOX CSS */
.leftbox {
  background-color: #dfdfe2;
  border: 5px;
  border-radius: 12px 0px 0px 12px;
  box-shadow: 0px 2px 15px -4px #000000;
}

/* PERSONAL */
.personal-img {
  width: 13rem;
  height: 13rem;
}

.center {
  margin: auto;
  display: grid;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.personal-title {
  display: grid;
  font-size: 34px;
  font-weight: 700;
  justify-content: center;
  font-family: Georgia, serif;
}

.personal-profession {
  display: grid;
  font-size: 17px;
  font-weight: 500;
  justify-content: center;
}
.personal-text {
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
/* PERSONAL INFOMATION */
.personal-information {
  display: grid;
  font-size: 12px;
  margin-left: 1rem;
  margin-top: 3.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.personal-logo {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 10px;
}

/* ============================================================================================== */
/* SOCIAL */
.social-link {
  color: black;
  display: flex;
  margin-left: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.social-logo {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 10px;
}

.linkin-logo {
  width: inherit !important;
}
/* ============================================================================================== */
/* PROFILE */
.profile-description {
  margin: 0 0;
  font-size: 16px;
  padding: 0 0.5rem;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.nama-nim {
  margin: 0.5rem 1.5rem;
  font-weight: 600;
}
/* ============================================================================================== */
/* EDUCATION AND PROJECT */
.education-box,
.project-box {
  display: grid;
  gap: 1.5rem;
  margin-left: 0.5rem;
}

.education-content,
.project-content {
  display: flex;
}

.education-rounder,
.project-rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #707070;
  border-radius: 50%;
  margin-top: 0.25rem;
}

.education-line {
  display: block;
  width: 2.5px;
  height: 130%;
  background-color: #707070;
  transform: translate(6.5px, 0);
}

.education-time {
  padding-right: 0.5rem;
}

.education-data,
.project-data {
  gap: 0;
}

.education-title,
.project-title {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  color: #0b0a0a;
  font-family: "Poppins", sans-serif;
}

.education-year {
  font-size: 13.5px;
  font-family: Arial, Helvetica, sans-serif;
}
/* ============================================================================================== */
/* SKILLS */
.skill-box {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
.skill-list {
  padding: 0 0;
  margin-bottom: 1rem;
}
.skill-pad-left {
  padding-left: 2rem;
}
.skill-pad-right {
  padding-left: 1.5rem;
}
.list-margin {
  margin-bottom: 0.5rem;
}

/* ============================================================================================== */
/* RIGHT BOX CSS */
.rightbox {
  background-color: #f0efef;
  border: 5px;
  border-radius: 0px 12px 12px 0px;
  box-shadow: 0px 2px 15px -4px #000000;
}

/* ============================================================================================== */
/* Project */

.project-section {
  display: grid;
  margin-top: 1.5rem;
}

.project-time {
  padding-right: 1rem;
}

.project-line {
  display: block;
  width: 3px;
  height: 110%;
  background-color: #707070;
  transform: translate(6px, 0);
}

.project-date {
  font-size: 14px;
  color: #0b0a0a;
  font-family: Arial, Helvetica, sans-serif;
}

.project-description {
  font-family: Arial, Helvetica, sans-serif;
}