/* TEMPLATE BODY CSS */
.body-style {
  margin: 2rem 2rem;
  background-color: #fcfcfc;
}
.template-cv-box {
  display: flex;
}

/* ============================================================================================== */
/* LAYOUT */

/* ============================================================================================== */
/* LEFT BOX CSS */
.leftbox {
  background-color: #dfdfe2;
  border: 5px;
  border-radius: 12px 0px 0px 12px;
  box-shadow: 0px 2px 15px -4px #000000;
}
/* PROFILE */
.profile-img {
  width: 11rem;
  height: 11rem;
}
.center {
  margin: auto;
  display: grid;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  justify-content: center;
}
.profile-title {
  display: grid;
  font-size: 34px;
  font-weight: 700;
  justify-content: center;
  font-family: Georgia, serif;
}
.profile-profession {
  display: grid;
  font-size: 17px;
  font-weight: 500;
  justify-content: center;
}
/* PROFILE INFOMATION */
.profile-information {
  display: grid;
  margin-left: 1rem;
  margin-top: 2.5rem;
}
.profile-logo {
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
}

/* ============================================================================================== */
/* SOCIAL */
.social-section {
  display: grid;
}
.social-title {
  font-size: 23px;
  font-weight: bold;
  margin-left: 0.5rem;
  letter-spacing: 5px;
  font-family: "Poppins", sans-serif;
}
.social-link {
  color: black;
}
.social-logo {
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
}
.linkin-logo {
  width: inherit !important;
}
/* ============================================================================================== */
/* PERSONAL */

/* ============================================================================================== */
/* EDUCATION */

/* ============================================================================================== */
/* SKILLS */

/* ============================================================================================== */
/* RIGHT BOX CSS */
.rightbox {
  background-color: #f0efef;
  border: 5px;
  border-radius: 0px 12px 12px 0px;
  box-shadow: 0px 2px 15px -4px #000000;
}
